<ion-content *ngIf="tasks">
  <ion-list class="task-list" no-lines *ngIf="status != in_progress">
    <ion-item class="task" *ngFor="let task of tasks" (click)="showTask(task)">
      <h3>{{task.name}}</h3>
      <p style="color:green" *ngIf="task.dueDate">{{task.dueDate | date:'EEE, dd/M/yyyy'}}</p>
      <div class="category" *ngIf="task.category.id != 'default'">
        <ion-icon name="ios-bookmark"></ion-icon>
        <p>{{task.category.name}}</p>
      </div>
    </ion-item>
  </ion-list>

  <div *ngIf="status == 'in_progress'">
    <ion-segment [(ngModel)]="in_progress_status">
      <ion-segment-button value="today">
        Today ({{todayTasks?.length}})
      </ion-segment-button>
      <ion-segment-button value="over-due">
        Over-Due ({{overDueTasks?.length}})
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="in_progress_status">
    <ion-list class="task-list" no-lines no-padding *ngSwitchCase="'today'">
      <ion-item class="task" *ngFor="let task of todayTasks" (click)="showTask(task)">
        <h3>{{task.name}}</h3>
        <p style="color:#fdba18">{{task.dueDate | date:'EEE, dd/M/yyyy'}}</p>
        <div class="category" *ngIf="task.category.id != 'default'">
            <ion-icon name="ios-bookmark"></ion-icon>
            <p>{{task.category.name}}</p>
        </div>
      </ion-item>
    </ion-list>
    <ion-list class="task-list" no-padding *ngSwitchCase="'over-due'">
      <ion-item class="task" *ngFor="let task of overDueTasks" (click)="showTask(task)">
        <h3>{{task.name}}</h3>
        <p style="color:red">{{task.dueDate | date:'EEE, dd/M/yyyy'}}</p>
        <div class="category" *ngIf="task.category.id != 'default'">
            <ion-icon name="ios-bookmark"></ion-icon>
            <p>{{task.category.name}}</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="goToTaskCreationPage()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>