page-tasks {
    ion-content {
        background-color: #e6e4e4 !important;
    }
    .task-list {
        padding: 10px;
        margin: 0px;
        font-weight: 500;
        .task {
            margin-top: 6px;
            border-radius: 8px;
        }
        .category {
            position: absolute;
            right: 40px;
            top: 15px;
            color: #d0bebe;
            p {
                font-size: 14px;
                position: relative;
                left: 20px;
                top: -20px;
            }
            ion-icon {
                font-size: 20px;
            }
        }
    }
}